@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
  --color-text-tertiary: var(--text-tertiary);
  --color-card: var(--card);
  --color-border: var(--border);
  --font-family: 'Geist', sans-serif;  
}

@layer utilities {
  :root {
    --primary: oklch(.205 0 0);
    --background: white;
    --text-primary: #151515;
    --text-tertiary: #555555;
    --card: oklch(1 0 0);
    --border: oklch(.922 0 0);
  }

  [data-theme='dark'] {
    --primary: oklch(.922 0 0);
    --card: oklch(.205 0 0);
    --border: oklch(1 0 0 / 10%);
    --background: #101010;
    --text-primary: #eaeaea;
    --text-tertiary: #a2a2a2;
  }
  
  body {
    font-family: 'Geist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    transition: background 0.15s;
  }
}

@utility text-primary {
  color: var(--text-primary);
}

@utility text-tertiary {
  color: var(--text-tertiary);
}

.transition-cool {
  transition: transform 0.6s cubic-bezier(.4,2,.6,1);
}